/* Some CSS styling */
#sketchpadapp {
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sketchpad {
    /* float:left; */
    /* height:902px;
    width:638px; */
    max-width: 95vw;
    border:2px solid #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    background-image:url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}



