body {
  margin: 0;
  padding: 0;
  background: #dff6f0;
  font-family: "KoHo", sans-serif;
}

.card {
  position: absolute;
  width: 20rem;
  height: 25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 600px;
  transform-style: preserve-3d;
  transition: box-shadow 1s ease;
}

.card:hover,
.shadow {
  box-shadow: 0.2rem 0.5rem 5rem #46b3e6;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: 0.5s;
}
.front img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.back {
  position: absolute;
  background: #46b3e6;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
  transition: 0.5s;
}

.card:hover .front {
  transform: rotateY(180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

.info {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 0%;
  color: #2e279d;
  padding: 1rem;
}

.info h3 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
  color: #fff;
}

.info h4 {
  color: #fff;
}

/* .emoji i:nth-child(2n-1) {
  color: #f76a8c;
}

.emoji i:nth-child(2) {
  color: #f8dc88;
} */

.emoji {
  color: #f76a8c;
}
